



@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(233, 220, 220);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.item-card,.vendor-card{
  border: thick double #04743c;
  margin-bottom: 15px;
  padding: 25px;
  width: 25%;
  display: inline-block;
  margin-right: 15px;
  margin-top:5px;
  margin-left:35px;
  text-align: center;
  border-radius: 20px;
}


.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

home {
  background-image: url;
  text-align:center;
  vertical-align:middle;
}




.formInfo{
  border: thick double #04743c;
  padding: 25px;
  margin-top:75px;
  text-align: center;
  
}

input{
  border-radius: 5px;
  width:200px;
  padding:10px;
}

label{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

b {
  font-family: Copperplate, Papyrus, fantasy;
 
}

.name{
  font-size:x-large;
}
.home-text{
  padding-top:30px;
  margin-left:200px;
  margin-right:200px;
  color:#fff;
}
select{
  border-radius: 5px;
  width:200px;
  padding:10px;
}
#homepicture{
  margin-top: 20px;
}

.pageTitle{
  font-size: x-large;
  text-align: center;
}

.navbar-nav  > li{
  padding-right:50px;
}
.navbar-nav{
  margin-left: auto;
}
.navbar-brand{
  display: inline-block;
  color: #233859;
  font-family: Montserrat;
  font-weight: bold;
  padding-left: 5px;
}
.navbar-brand name {
  font-size:25px;
  color: #233859;
}
.navbar-brand small {
  display:block;
  font-size:12px;
  color: #9c9c9c;
}
.navbar-brand-image{
  padding-left: 60px;
}
.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
}
.home-page {
  
  height: 1000px;
  background:rgba(0,0,0,0.6) url('https://www.americanwarehouses.com/hubfs/AmericanWarehouses_Blog_TheBestApproachToLeasingWarehouseSpace.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
}
.collapse .navbar-collapse .navbar-nav .ml-auto .mb-2 .mb-lg-0,.nav-item{
  font-size:20px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link  {
  color: #233859;
}
.learn-more{
  align-items: center;
  background-color: #f0e246;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 20px;
}






