@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
  margin: 0;
  background: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.item-card,
.vendor-card {
  border: thick double #04743c;
  margin-bottom: 15px;
  padding: 25px;
  width: 25%;
  display: inline-block;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 30px;
  text-align: center;
  border-radius: 20px;
} 


.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

home {
  background-image: url;
  text-align: center;
  vertical-align: middle;
}


label {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

b {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.name {
  font-size: x-large;
}

.home-text {
  padding-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  color: #fff;
  vertical-align: middle;
}

select {
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}



.pageTitle {
  font-size: x-large;
  text-align: center;
}

.navbar-nav>li {
  padding-right: 50px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  display: inline-block;
  color: #233859;
  font-family: Montserrat;
  font-weight: bold;
  padding-left: 5px;
}

.navbar-brand name {
  font-size: 25px;
  color: #233859;
}

.navbar-brand small {
  display: block;
  font-size: 12px;
  color: #9c9c9c;
}

.navbar-brand-image {
  padding-left: 60px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-page {

  height: 800px;
  background: rgba(0, 0, 0, 0.6) url('https://www.americanwarehouses.com/hubfs/AmericanWarehouses_Blog_TheBestApproachToLeasingWarehouseSpace.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  opacity: 0.95;
}

.header {
  color: white;
  text-align: center;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  line-height: 1.3;
  padding-top: 150px;

}


.header1 {
  color: white;
  font-weight: 300;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding-top:30px;
  padding-bottom: 40px;

}

.collapse .navbar-collapse .navbar-nav .ml-auto .mb-2 .mb-lg-0,
.nav-item {
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #233859;
}

.learn-button {
  align-items: center;
  background-color: #f0e246;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 20px;
  transition-duration: 0.4s;
}
.learn-button:hover{
  background-color: grey; 
  color: white;
}

#hideEmailMsg, #hideEmailBtn{
  display: none;
  text-align: center;
}

#showEmailMsg, #showEmailBtn{
  text-align: center;
}


/* about page css */

.about-background{
  background: rgba(0, 0, 0, 0.6) url(2.jpg) 0px;

  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  position:relative;
  min-height:400px;
}
.about-title{
  padding-top: 120px;
  text-align: center;

}

.about-grids {
  margin: 5em 0 0 0;
}
.about-right {
	background: url(3.jpg) no-repeat 0px 0px;
  background-size: contain;
  min-height: 600px;
}
.about-bg-text{
  color: white;
  text-align: center;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  line-height: 1.3;
  padding-top: 150px;
}
.about-pitch{
  
}
.pitch-text{
  font-size: 50px;
  color: #233859;
  padding-top: 30px;
  padding-bottom: 20px;
}
.pitch-text1{
  font-size: 20px;
  color: #233859;
  padding-bottom: 20px;
}

/* about page css */

/* login page css */
.login-bg{
  background: rgba(0, 0, 0, 0.6) url('https://www.americanwarehouses.com/hubfs/AmericanWarehouses_Blog_TheBestApproachToLeasingWarehouseSpace.jpg');
  background-size: cover;
  background-blend-mode: darken;
  height: 700px;
}
.login-form{
  padding-top: 50px;
}
.login-right{
  background-color: rgba(0, 0, 0, 0.45);
  padding-top:30px;
  padding-bottom: 30px;
  padding-left:75px;
  border-radius:30px;
}
.login-left{
  color:white;
  padding-top:30px;
}
.login-button{
  background-color: #f0e246;
  color: #233859;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 14px 20px;
  margin: 8px 0;
  border:none;
  cursor: pointer;
  width: 80%;
  transition-duration: 0.4s;
  border-radius: 20px;
}
.login-button:hover {
  background-color: grey; 
  color: white;
}
.formInfo .login-input{
  color: #233859;
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  box-sizing: border-box;
  border-radius: 20px;
}
.login-label{
  color: white;
  font-size:20px;
}
/* login page css */
.logout-btn{
  align-items: center;
  background-color: #efe468;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 200px;
  min-height: 40px;
  min-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  transition-duration: 0.4s;
}
.logout-btn:hover{
  background-color: grey; 
  color: white;
}
/* view item page css */
.item-page{
  background:rgba(0, 0, 0, 0.65) url("https://thumbs.dreamstime.com/b/%E5%85%85%E5%88%86%E7%A9%BA%E7%9A%84%E4%BB%93%E5%BA%93%E8%B4%A7%E7%89%A9-105517645.jpg") ;
  background-size: cover;
  height:400px;
  background-blend-mode: darken;
}
.item-bg-text{
  color: white;
  text-align: center;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  line-height: 1.3;
  padding-top: 110px;
}
.itemcards{
  padding-top: 50px;
  padding-left:0px;
  padding-bottom:50px;
}
/* view item page css */
/* view vendor page css */
.vendor-page{
  background:rgba(0, 0, 0, 0.65) url("https://www.stibosystems.com/hubfs/what-is-vendor-data.png") ;
  background-size: cover;
  height:400px;
  background-blend-mode: darken;
}
.vendor-bg-text{
  color: white;
  text-align: center;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  line-height: 1.3;
  padding-top: 110px;
}
/* view vendor page css */
/* add item page css */
.additem-bg{
  background: rgba(0, 0, 0, 0.65) url("https://thumbs.dreamstime.com/b/%E5%85%85%E5%88%86%E7%A9%BA%E7%9A%84%E4%BB%93%E5%BA%93%E8%B4%A7%E7%89%A9-105517645.jpg");
  background-size: cover;
  height:1200px;
  background-blend-mode: darken;
}
.additem-btn{
  align-items: center;
  background-color: #f0e246;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  font-size: 20px;
  width: 70%;
  cursor: pointer;
  transition-duration: 0.4s;
}
.additem-btn:hover{
  background-color: grey; 
  color: white;
}
.additem-form{
  padding-top: 50px;
}
.add-input{
  color: #233859;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
  width: 70%;
  padding: 10px 8px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 20px;
}
.additem-right{
  background-color: rgba(0, 0, 0, 0.45);
  padding-top:30px;
  padding-bottom:30px;
  padding-left:130px;
  border-radius: 30px;
}
.additem-left{
  color:white;
  text-align: center;
  padding-top: 200px;
}
.itemadd,.vendoradd{
  font-size:5em;
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;
}
/* add item page css */
/* add vendor page css */
.addvendor-bg{
  background: rgba(0, 0, 0, 0.65) url("https://www.stibosystems.com/hubfs/what-is-vendor-data.png");
  background-size: cover;
  height:800px;
  background-blend-mode: darken;
}
.addvendor-form{
  padding-top: 50px;
}
.add-input{
  color: #233859;
  font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
  width: 70%;
  padding: 10px 8px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 20px;
}
.addvendor-right{
  background-color: rgba(0, 0, 0, 0.45);
  padding-top:60px;
  padding-bottom:30px;
  padding-left:130px;
  border-radius: 30px;
}
.addvendor-left{
  color:white;
  text-align: center;
  padding-top: 150px;
}
.vendoradd{
  font-size:5em;
  font-family: 'Righteous', cursive;
  letter-spacing: 5px;
}
/* add vendor page css */
/* not found page css */
.notfound-bg{
  background: url("https://wpklik.com/wp-content/uploads/2019/03/A-404-Page-Best-Practices-and-Design-Inspiration.jpg");
  background-size: cover;
  height:770px;
}
.notfound-bg, .notfoundbtn{
  text-align: center;
  padding-top: 70px;
}
.goback-btn{
  align-items: center;
  background-color: #f0e246;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 20px;
  transition-duration: 0.4s;
}
.goback-btn:hover{
  background-color: grey; 
  color: white;
}
/* not found page css */
.card{
  border-radius: 30px;
  border-width: 5px;
  padding-top: 10px;
}

.card-title{
  color: #233859;
  font-family: Arial, Helvetica, sans-serif;
  font-size:
  30px;
}
.card-titlev{
  color: #233859;
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
}
.vendorinfo{
  padding-left:50px;
  padding-top:30px;
  font-size: 22px;
  color: #233859;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.cardinfo{
  font-size: 17px;
  color: #233859;
}
.cardbtn{
  align-items: center;
  background-color: #efe468;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 17px;
  transition-duration: 0.4s;
}
.cardbtn:hover{
  background-color: grey; 
  color: white;
}
.cardbtn1{
  align-items: center;
  background-color: #efe468;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 17px;
  transition-duration: 0.4s;
}
.cardbtn1:hover{
  background-color: grey; 
  color: white;
}
.nav-link {
  display: inline-block;
}
.vendorcards{
  padding-top:50px;
  padding-bottom: 50px;
}
.a{
  padding-bottom:10px;
}
.aa{
  padding-left:40px;
}
.deletepg{
  text-align: center;
  padding-top:100px;
 
}
.deletetxt{
  padding-bottom: 50px;
}
.animate__animated.animate__swing {
  --animate-duration: 8s;
}
.rusure{
  padding-right: 600px;
}
.emailbtn{
  padding-top: 40px;
}
.sendemail{
  align-items: center;
  background-color: #efe468;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 17px;
  transition-duration: 0.4s;

}
.sendemail:hover{
  background-color: grey; 
  color: white;
}
.emailtxt{
  font-size: 25px;
  padding-top: 20px;
}
.hideemail{
  align-items: center;
  background-color: #efe468;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #233859;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  letter-spacing: .5px;
  font-size: 17px;
  transition-duration: 0.4s;
}
.hideemail:hover{
  background-color: grey; 
  color: white;
}
.errormsg{
  color:red;
}
.searchbar{
  padding-top:30px;
  margin-left:50px;
  width:30%;
}